/* :root {
    --vp-nav-height: 100px;
}
.curtain {
    top: calc(var(--vp-nav-height) * -1) !important;
}

a.title {
	flex-direction: column !important;
	align-items: flex-start !important;
    padding-top: 15px;
}*/
a.title span {
  opacity: 0.5;
  font-size: 21px;
}
